<div class="box brands">
<!-- <div class="box-heading">Brand logo</div> -->
<div id="carousel-{{ module }}" class="banners-slider-carousel">
  <div class="container"><!-- container -->
	<div class="customNavigation">
		<a class="prev fa fa-angle-left">&nbsp;</a>
		<a class="next fa fa-angle-right">&nbsp;</a>
	</div>
  <div class="product-carousel" id="module-{{ module }}-carousel">
    {% for banner in banners %}
    	<div class="slider-item">
		<div class="product-block">
		<div class="product-block-inner">
			{% if banner.link %}
   <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" /></a>
    {% else %}
    <img src="{{ banner.image }}" alt="{{ banner.title }}" />
    {% endif %}
		</div></div></div>
    {% endfor %}
  </div>
  </div>
</div>
<span class="module_default_width" style="display:none; visibility:hidden"></span>
</div>
